In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
import random

random.seed(1234)

In [3]:
import pandas as pd

df = pd.read_csv("C:\\Users\\soumi\\Downloads\\housing\\housing.csv")

In [4]:
# One-hot encode the string columns
df = pd.get_dummies(df, columns=["ocean_proximity"])

In [5]:
# Assume you have a DataFrame 'df' with features and a column 'target' containing class labels
X = df.drop(columns=['median_house_value'])
y = df['median_house_value']

In [6]:
X

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H_OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR_BAY,ocean_proximity_NEAR_OCEAN
0,-122.23,37.88,41,880,129,322,126,8.3252,False,False,False,True,False
1,-122.22,37.86,21,7099,1106,2401,1138,8.3014,False,False,False,True,False
2,-122.24,37.85,52,1467,190,496,177,7.2574,False,False,False,True,False
3,-122.25,37.85,52,1274,235,558,219,5.6431,False,False,False,True,False
4,-122.25,37.85,52,1627,280,565,259,3.8462,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20428,-121.09,39.48,25,1665,374,845,330,1.5603,False,True,False,False,False
20429,-121.21,39.49,18,697,150,356,114,2.5568,False,True,False,False,False
20430,-121.22,39.43,17,2254,485,1007,433,1.7000,False,True,False,False,False
20431,-121.32,39.43,18,1860,409,741,349,1.8672,False,True,False,False,False
20432,-121.24,39.37,16,2785,616,1387,530,2.3886,False,True,False,False,False

In [7]:
y.shape

(20433,)

In [8]:
# Split the data while maintaining class proportions
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [9]:
# Assume you have X_train, X_test, y_train, y_test as your data
regr = LinearRegression()
regr.fit(X_train, y_train)

y_pred = regr.predict(X_test)

In [10]:
from sklearn.metrics import r2_score

score = r2_score(y_test, y_pred)
print(f"R-squared score: {score:.4f}")

R-squared score: 0.6552

In [11]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rmse = sqrt(mean_squared_error(y_test, y_pred))
print(f"RMSE: {rmse:.4f}")

RMSE: 66035.1554